[init]
	defaultBranch = main
[user]
	name = Gadzhimari Kachaev
	email = gadzhimari@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFdU/SklBysnAzHEnJyuan2waGJjNUiy3RUCgPmpGuhp

[includeIf "gitdir:~/Projects/work/alfa/"]
	path = ~/Projects/work/alfa/.gitconfig-work
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[branch]
	# set up 'git pull' to rebase instead of merge
	autosetuprebase = always
	sort = -committerdate
[apply]
	# do not warn about missing whitespace at EOF
	whitespace = nowarn
[core]
	editor = vim
	whitespace = cr-at-eol
[pull]
	rebase = true
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
[rebase]
	# Automatically stash current WD and stage when running rebase
	autoStash = true
[diff]
	# Detect copies as well as renames.
	renames = copies
[difftool]
	prompt = false
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
